# Exclude Flutter build outputs and caches
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Exclude iOS build artifacts
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Exclude Android build artifacts
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# Exclude additional Android build cache folder
android/app/.cxx/

# IDEs and Editors
*.iml
.idea/
.vscode/

# macOS specific
.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Optionally, exclude assets if you do not want them tracked
assets/
