# Flutter build outputs and caches
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS build artifacts
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Android build artifacts
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# Additional Android build cache folder
android/app/.cxx/

# IDEs and Editors
*.iml
.idea/
.vscode/

# macOS specific
.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Optionally, exclude assets if you do not want them tracked
assets/

# 🔥 Firebase-Specific Files (DO NOT PUSH THESE)
**/firebase_service_account.json
**/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/android/app/google-services.json

# 🔑 Secrets & Credentials (Avoid exposing sensitive files)
*.key
*.pem
*.p12
*.crt
*.env

# 🔥 Firebase Emulator Data (Exclude if using Firebase Emulator)
firebase-debug.log
.firestore/
